body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    justify-content: center;
}

canvas {
    width: calc(min(100%, 80vh) - 4vmin);
    background-color: whitesmoke;
}

h1 {
    font-family: sans-serif;
    text-align: center;
}

form {
    margin-top: 1em;
    width: calc(min(100%, 80vh) - 4vmin);
    display: flex;
    justify-content: space-between;
}

#url {
    width: 100%;
}

#settings {
    width: 100%;
}